.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h4{
  color: white;
  text-align: center;
  padding-top: 50px;
}
.container{
  background-color: bisque;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
display: flex;
}
.bag{
  background-color: darkblue;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #282c34;
  margin-bottom: 10px;
}
#task {
color: black;
  width: 350px;
  padding: 15px;
  margin-right: 25px;
  font-size: 15px;
}
#quan {
  color: black;
    width: 350px;
    padding: 15px;
    margin-right: 25px;
    font-size: 15px;
  }
  
#list{
  color: white;
  font-size: 20px;
}
#table{
  color: beige;
}
#but{
  text-align: center;
  margin-left: 150px;
}
#trow{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
